<footer class="ff">
    <div class="row" style="margin-left: 20px; padding-top: 20px; padding-left: 40px;">
        <div class="col-sm-9" >
        <p style=" color: rgb(133, 131, 131); margin-left: 20px;"><strong>About Us</strong><br>ECFICIO is the first-ever Entrepreneurship Fest of VNR Vignana Jyothi Institute of Engineering & Technology.</p>
        <p style="display: inline-block;color: rgb(133, 131, 131); margin-left: 20px;"><strong>Contact Us</strong><br>Avinash-9030933144, Nitya-9000333245</p>
    </div>
   <div class="col-sm-2" style="float: right; margin-right: 30px; padding-top: 30px;">
    <a href="https://www.instagram.com/p/Bs5HBb7HONW/?hl=en"> 
        <img src="assets/insta.png" style="height: 40px; width: 40px; display: inline-block; float: right; margin: 13px 10px 5px 5px;" alt=""></a>
            <a href="https://www.linkedin.com/in/entrepreneurship-fest-78340120b">
            <img src="assets/linkedin.png" style="height: 55px; width: 55px; display: inline-block; float:right; margin: 5px;" alt=""></a>
      
       </div>
    </div>
    
</footer>